@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue");
@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner&display=swap');

body {
  background: hsl(220, 10%, 12%);
  font-family: "Lato", "Segoe Ui", -apple-system, BlinkMacSystemFont, sans-serif;
}

#mySidenav a {
  font-family: 'Work Sans', sans-serif;
  position: fixed;
  left: -80px;
  transition: 0.3s;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
  left: 0;
}

#Home {
  height: 60px;
  top: 20px;
  background-color: #04AA6D;
}

#FAQ {
  height: 60px;
  top: 100px;
  background-color: #2196F3;
}

#About {
  height: 60px;
  top: 180px;
  background-color: #f44336;
}

#search {
  height: 60px;
  top: 260px;
  background-color: #555;
}

#faq_img1{
  height: 20px;
	position:absolute;
	bottom:30px;
	left:78px;
}

#faq_img2{
  height: 20px;
	position:absolute;
	bottom:30px;
	left:78px;
}

#faq_img3{
	position:relative;
	bottom:30px;
	left:65px;
}

#faq_img4{
	position:relative;
	bottom:30px;
	left:65px;
}

.event_front {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  font-family: Bebas Neue;
  font-size: 20px;
  color: black;
  background-color: rgba(39, 39, 39 0.5);
  text-align: center;
}

.event_front h1 {
  margin-top: -70px;
  transform: skewY(-11deg);
}

.event_back {
  font-family: Bebas Neue;
  font-size: 24px;
  text-align: left;
  padding: 20px;
  color: black;
  background-color: rgba(39, 39, 39 0.5);
}

.diagonal {
  position: relative;
  text-align: left;
  background-image: linear-gradient(45deg, #500092, #ff00b3);
  transform: skewY(-11deg);
  height: 100px;
  max-width: 100%;
  margin-top: 30px;
}

#bottom-bar {
  bottom: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 80px; Adjust the height for mobile */
  width:97.8vw;
  background-color: #111;
  color: #fff;
  padding: 10px;
}

#bottom-bar a {
  color: #fff;
  text-decoration: none;
  margin:10px;
}


/*Add scrollbar styles for all devices*/
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #1B03A8;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #4A90E2;
}





@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

body {
  background: #111;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  flex-wrap: wrap;
  z-index: -5;
}

.container .box {
  position: relative;
  width: 320px;
  height: 400px;
  color: #fff;
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 30px;
  transition: 0.5s ease-in-out;
  border-radius: 20px;
}

.container .box:hover {
  transform: translateY(-20px);
}

.container .box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(300deg, rgba(0,255,0,1) 0%, rgba(0,255,255,1) 80%);
  border-radius: 20px;
}

.container .box::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(300deg, rgba(0,255,0,1) 0%, rgba(0,255,255,1) 80%);
  filter: blur(30px);
  border-radius: 20px;
}

.container .box:nth-child(2)::before,
.container .box:nth-child(2)::after {
  background: linear-gradient(315deg,
                              #03a9f4,
                              #ff0058);
}

.container .box:nth-child(3)::before,
.container .box:nth-child(3)::after {
  background: linear-gradient(315deg,
                              #4dff03,
                              #00d0ff);
}

.container .box span {
  position: absolute;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  border-radius: 20px;
}

.container .box span::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  /* background: rgba(255, 255, 255, 0.1); */
  pointer-events: none;
  border-radius: 20px;
}

.container .box .content {
  position: relative;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  padding: 20px 40px;
  border-radius: 20px;
}

.container .box .content h2 {
  font-size: 2em;
  color: #fff;
  margin-bottom: 10px;
  border-radius: 20px;
}

.container .box .content p {
  font-size: 1.1em;
  color: #fff;
  margin-bottom: 10px;
  line-height: 1.2em;
  border-radius: 20px;
}

.container .box .content a {
  display: inline-block;
  font-size: 1.1em;
  color: #fff;
  background: rgba(0, 0, 0, 0.2);
  padding: 8px;
  border: 2px solid #fff;
  text-decoration: none;
  font-weight: 700;
  border-radius: 10px;
  transition: 0.5s ease-in-out;
}

.container .box .content a:hover {
  background: #fff;
  color: #000;
}